:root {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body,
input,
button,
textarea {
  font-size: 1.6rem;

  letter-spacing: -0.02em;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased; /* deixa o contorno da fonte mais suave */
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;

  display: grid;
  place-content: center;

  background: linear-gradient(167.96deg, #8257e5 0%, #271a45 100%) no-repeat;
}

.grid {
  display: grid;
}

.column {
  grid-auto-flow: column;
}

.text-right {
  text-align: right;
}

h1,
strong {
  font-weight: 500;
}

#ticket {
  margin: 2rem 0;
}

h1 {
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}

p {
  color: #000000a3;
  font-size: 1.4rem;
}

strong {
  line-height: 1.9rem;
  color: rgba(0, 0, 0, 0.88);
}

section {
  filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.25));

  -webkit-mask: var(--mask);
  mask: var(--mask);
  background-color: #fff;
  padding: 2.4rem 3.2rem;
}

.top {
  border-radius: 2.4rem 2.4rem 0 0;
  gap: 2.4rem;

  --mask: radial-gradient(1.2rem at 1.2rem bottom, transparent 93%, black) -1.2rem;

  -webkit-mask-repeat: repeat-x;
  mask-repeat: repeat-x;
}

.departure,
.arrival {
  width: 12.5rem;
}

.top > div:last-child strong {
  font-weight: 500;
  font-size: 4rem;
  line-height: 4.7rem;
  color: rgba(0, 0, 0, 0.88);
}

.top timer {
  color: rgba(0, 0, 0, 0.8);
}

.top time sup {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2rem;
}
.airplane {
  align-self: center;
  width: 2.4rem;
  height: 2.4rem;
}

.middle {
  border-block: 0.1rem dashed rgba(0, 0, 0, 0.32);

  --mask: radial-gradient(1.2rem at 1.2rem 1.2rem, transparent 93%, black) -1.2rem -1.2rem;
}

.bottom {
  border-radius: 0 0 2.4rem 2.4rem;
  --mask: radial-gradient(1.2rem at 1.2rem top, transparent 93%, black) -1.2rem;
  -webkit-mask-repeat: repeat-x;
  mask-repeat: repeat-x;
}

.bottom > p {
  text-align: center;
  margin-top: 2.4rem;

  font-size: 1.6rem;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.8);
}

.bottom .container {
  align-items: center;
  gap: 0.8rem;
}

dl.grid {
  gap: 1.6rem;
  min-width: 9.5rem;
}

dt time {
  background-color: #633bbc;
  font-weight: 500;
  color: #fff;
  padding: 0.4rem 0.8rem;
  border-radius: 0.8rem;
  margin-top: 0.2rem;
  display: inline-block;
}

dt p {
  color: rgba(0, 0, 0, 0.64);
  line-height: 1.7rem;
}

.qrcode.grid {
  justify-items: center;
}

footer > p {
  color: #ffffff;
  opacity: 0.64;

  font-size: 1.4rem;
  line-height: 2.4rem;
  text-align: center;

  max-width: 28ch;
  margin: 0 auto;
}
